* {
    font-family: 'Georama', sans-serif;
}

img {
    border-radius: 100%;
}

.titulo-nombre {
    color: rgb(36, 10, 184);
    font-size: 80px;
    transition: .5s all;
}

.titulo-nombre:hover {
    color: lightgreen;
    font-size: 50px;
}

.carrera {
    color:rgb(26, 150, 74);
    font-size: 40px;
}

.titulo-seccion {
    color: rgb(171, 173, 34);
    font-weight: bold;
    text-decoration: underline;
}

.lista-estudios {
    color: seagreen;
}

.lista-experiencia {
    color: rgb(8, 27, 110);
}

.detalle-carrera {
    color: black;
}

.detalle-subexperiencia {
    color:rgb(16, 126, 25);
    font-style: italic;
    font-size: 15px
}

.papel {
    border: 1px lightgray solid;
    padding: 30px;
    box-shadow: 10px 10px 67px -19px rgba(0,0,0,0.75);
    border-radius: 10px;
    margin-top:30px;
}

.centrar {
    margin: auto;
    width: 900px;
    margin-top: 30px;
}

.parrafo-experiencia {
    color: black;
}

.dos-columnas {
    display:flex;
}

.dos-columnas section {
    width: 50%;
    margin: 10px;
}
