* {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: 0;
}

h3 {
    font-weight: bold;
}

img {
    height: 100%;
    border-radius: 100%;
}

.contenedor {
    width: 900px;
    margin:auto;
    padding: 5px;
    border: 1px solid lightgray;
}

.cuadrado {
    width: calc(25% - 10px);
    height: 100px;
    margin: 5px;
    border: 1px solid lightgray;
    padding: 10px;
}

.amarillo {
    /*background-color: yellow;*/
}

.rojo {
    /*background-color: red;*/
}

.verde {
   /*background-color: green;*/
}

.azul {
    /*background-color: blue;*/
}

.alto-300 {
    height: 500px;
}

.ancho-1-columna {
    width: calc(25% - 10px);
}

.ancho-2-columnas {
    width: calc(50% - 10px);
}

.ancho-3-columnas {
    width: calc(75% - 10px);
}

.ancho-4-columnas {
    width: calc(100% - 10px);
}

header, .informacion {
    display: flex;
    flex-wrap: wrap;
}

.copyright {
    font-size: 25px;
    font-style: italic;
    text-align: center;
}